/.emacs.d/.cask/
/.emacs.d/auto-save-list/
/.emacs.d/eshell/
/.emacs.d/irony/
/.emacs.d/local.el
/.emacs.d/.mc-lists.el
/.emacs.d/ac-comphist.dat
/.emacs.d/request/
/.emacs.d/tramp
/.emacs.d/custom.el
/.emacs.d/config.el
/.emacs.d/config.html
/.emacs.d/elpa
/.emacs.d/.org-id-locations
/.emacs.d/bookmarks
